.outer_box_rad {
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  margin-bottom: 30px;
}
.outer_box_rad .titleDiv {
  background: #f5f5f5;
  color: #555555;
  font-size: 16px;
  padding: 5px 15px;
}
.outer_box_rad .contDiv {
  padding: 10px 15px;
}
.outer_box_rad .btn {
  border-radius: 5px;
  padding: 5px 15px;
  text-align: center;
  cursor: pointer;
  margin: 0px 10px 10px 10px;
}

.outer_box_rad .btn.save {
  color: white;
  background: #62b865;
  border: 1px solid #53ae56;
}
.outer_box_rad .btn.save:hover {
  background: #53ae56;
}
.outer_box_rad .btn.edit {
  color: black;
  background: #dbdbdb;
  border: 1px solid #c5c5c5;
}
.outer_box_rad .btn.edit:hover {
  background: #c5c5c5;
}
.outer_box_rad ul {
  list-style: none;
  padding: 0px;
  font-size: 14px;
  margin: 0px;
}
.outer_box_rad li {
  border-bottom: 1px solid #bbb;
  padding: 7px 0px;
}
.outer_box_rad li:last-child {
  border: none;
}

.outer_box_rad .editYourInfo_inputDesc {
  margin-bottom: 5px;
}
.outer_box_rad .editYourInfo_input {
  width: 100%;
  margin-bottom: 10px;
}
